<strong>Retrieving password</strong>

<p>A solicitation for password retrieving has been made with following email ({{ email }}). In case that you don't recognize this action, please change your password to be more account hijacking proof.</p>

<p>To continue with password retrieving, use token provided {{ token }} or click on the link right below:</p>

<a href="{{ link }}">Create new password</a>
